body{
      color: #333;
      text-align: left;
      font-family: 'Courier New', Courier, monospace;
}

#container{
      width: 70%;
      margin: 0 auto;
      text-align: left;
      border: 1px solid #ddd;
      padding: 1em;
}

#container h1{
      font-size: 20px;
}